
   
   <nav class="container p-2 mb-16">
        <div class="flex justify-between">
           <a href="/">
              <h1 class="text-3xl text-indigo-400 font-bold cursor-pointer">Reddit.js</h1>
           </a>
           <ul class="list-none flex">
             <li>
                <a href="/posts/new" class="btn mr-4"
                ">New Post</a>

             </li> 
             <li>
                <a href="/posts/new" class="btn">Logout</a>
             </li> 
            </ul>
        </div>
   </nav>